* {
  font-family: {{font}}, sans-serif;
  color: {{fontColor}};
  overflow: hidden;
}

#countdown {
  font-weight: bold;
  font-size: {{fontSize}}px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}